<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goalog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Goalog">
        <activity
            android:name=".RequestActivity"
            android:exported="true"
            android:theme="@style/Theme.Goalog.NoActionBar"/>
        <activity
            android:name=".MainPagesActivity"
            android:exported="true"
            android:theme="@style/Theme.Goalog.NoActionBar"/>
        <activity
            android:name=".UserPageActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Goalog.NoActionBar"/>
        <activity
            android:name=".AddHabitActivity"
            android:exported="true"
            android:label="Goal Detail" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:label="Welcome"
            android:theme="@style/Theme.Goalog.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HabitListViewActivity"
            android:exported="true"
            android:label="Goal List"
            android:parentActivityName=".UserPageActivity" />
        <activity
            android:name=".HabitListViewReorderActivity"
            android:label="Goal List"
            android:exported="true"
            android:parentActivityName=".UserPageActivity">
        </activity>
        <activity
            android:name=".HabitEventListViewActivity"
            android:exported="true"
            android:label="Footprints"
            android:parentActivityName=".HabitListViewActivity" />
        <activity
            android:name=".AddHabitEventActivity"
            android:exported="true"
            android:label="Goal Completion Detail">
        </activity>
    </application>

</manifest>